h1 {
	font-size:28pt;
	padding:0;
	margin:0 0 10px 0;
	font-family: "Roboto Condensed";
	display:block;
	border-bottom:thin dashed @gray3;
}

h2 {
	font-size:22pt;
	padding:0;
	margin:0;
	font-family: "Roboto Condensed";
}

body {
	font-size:12pt;
	font-family: "Helvetica Neue";
	color:@gray3;
}

label {
	font-size:16pt;
	font-weight: normal;
	font-family: "Roboto";
	margin-top:8px;
}

a {

}

form {
	padding:20px;

	.text-input.form-group {
		background-color: @gray2;
		padding:10px;
		font-family: "Roboto";
	}
}

.form-control {
	font-size:14pt;
	font-weight:normal;
	height:48px;
}

.navbar {
	border:none;
}
.navbar-static-top {
	border-width:0;
}

.navbar-inverse {
	background-color:@gray3;
}

/* table lists */
.table_list_header {
  font-size: 18pt;
  font-family: "Roboto Condensed";
  i {
  	margin-right:20px;
  }
}

table th {
	font-weight: normal;
	font-size:14pt;
  background-color: @gray3 !important;
  color: @white;
  vertical-align: middle !important;
}

table td {
	font-weight: normal;
	font-size:14pt;
  vertical-align: middle !important;
}

.even {
  background-color: @gray1;
}

@media (max-width: @screen-xs-max) {

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

@media (min-width: @screen-md-min) {
}

@media (min-width: @screen-lg-min) {

}
