
h2 {
	padding:0;
	margin:0;
	font-size:16px;
	font-family: "Roboto Condensed";
}

body {
	font-family: "Helvetica Neue";
	color:@gray3;
}

a {

}

.navbar {
	border:none;
}
.navbar-static-top {
	border-width:0;
}

.navbar-inverse {
	background-color:@gray3;
}



label {
	font-size:14px;
}

@media (max-width: @screen-xs-max) {

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

@media (min-width: @screen-md-min) {
	h1 {

	}
	h2 {
		font-size:24px;
	}
	label {
		font-size:20px;
	}
}

@media (min-width: @screen-lg-min) {

}
