@media (max-width: @screen-xs-max) { 

 }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 

}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 

}
@media (min-width: @screen-lg-min) { 

}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.container_div {
  width: 100%;
  min-height: 400px;
}
.container_header {
    background-color: #333333;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    padding: 15px 0 0 20px;
    width: 100%;
}

.login_box {
  width: 35%;
  height: 400px;
  border: 10px solid #B3B3B3;
  box-shadow: 2px 2px 2px 2px;
  margin: auto;
  margin-top: 75px;
}
.login_header {
  width: 100%;
  height: 80px;
  padding: 30px 0px 0px 20px;
  background-color: #0066FF;
  color: #FFFFFF;
  margin-bottom: 35px;
  font-size: 20px;
}

.login_box form{
  display: :block;
  width: 100%;
  clear: both;

}

.login_box form p{
  display: :block;
  width: 90%;
  margin: auto;
  background-color: #B3B3B3;
  padding: 10px;
  margin-top: 15px;
  display: block;
  height: 55px;
}

.login_box label {
  width: 40%;
  float: left;
  display: inline-block
}
.login_box input[type="text"], .login_box input[type="password"] {
  width: 55%;
  border: 1px solid #424242;
  height: 30px;
  float: left;
  display: inline-block;
}

.login_button {
    background-color: #0066FF;
    border: medium none;
    color: #FFFFFF;
    display: block;
    float: right;
    margin-right: 23px;
    padding: 7px;
}
.forgot_pass_a {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 30px;
}
.contact_admin {
    display: block;
    margin: 10px auto auto;
    text-align: right;
    width: 90%;
}

.error_msg {
    color: #FF0000;
    display: block;
    float: left;
    padding: 20px;
    width: 50%;
}

.page_header_with_underline {
  display: block;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
}

.content {
  padding: 30px 30px 30px 40px;
}

.create_account {
  width: 30%;
  padding-top: 30px;
}

.create_account label {
   width: 30%;
   font-weight: normal;
}
.create_account .p_with_background {
  margin: 0px 0px 10px 0px;
  width: 100%;
}

.create_account input[type="text"] {
  border: 1px solid #424242;
  padding: 5px;
  width: 68%;
}
.account_type {
  width: 65%;
  background-color: #B3B3B3;
  border: medium none;
  color: #FFFFFF;
  padding: 5px;
}
.account_type_label {
  width: 31% !important;
}

.create_button {
  width: 20%;
  display: block;
  border: none;
  float: right;
  padding: 10px;
  background-color: #333333;
  color: #FFFFFF;
}

.create_account .error_msg {
  width: 75%;
}

/************* Dashboard Styles ***********/

.header_right {
  width: 25%;
  float: right;
  position: relative;
}

.menu_icon {
    background: url('../img/settings.png') no-repeat;
    display: block;
    float: right;
    height: 38px;
    margin-top: -34px;
    padding-top: 15px;
    text-decoration: none;
    text-indent: -9999;
    width: 37px;
}

.menu {
  display: none;
  position: absolute;
  list-style: none;
  right: 0px;
  background-color: #B3B3B3;
  top: 33px;  
}

.menu a, .menu a:hover {
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
}

.table_container {
  width: 100%;
  padding: 50px;
}

.table th {
  background-color: #333333;
}
.even {
  background-color: #F2F2F2;
}

.view_button {
  color: #FFFFFF;
  width: 86px;
  height: 41px;
  background-color: #0066FF;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.view_button {
  color: #FFFFFF;
  width: 86px;
  height: 41px;
  background-color: #0066FF;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.deactivate_button {
  color: #FFFFFF;
  width: 86px;
  height: 41px;
  background-color: #FF1D25;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.deactivate_button , .reassign_button{
  color: #FFFFFF;
  width: 86px;
  height: 41px;
  background-color: #FF1D25;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.activate_button, .assign_button {
  color: #FFFFFF;
  width: 86px;
  height: 41px;
  background-color: #7AC943;
  display: block;
  text-align: center;
  padding-top: 10px;
}
/************* Dashboard Styles end **********/