
<!DOCTYPE html>
<html ng-app="cap">
	<head>
		<title>Cap - Forgot password </title>
		<meta charset=”utf-8”> 
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="font-awsome-4.1.0/css/font-awesome.css" />
		<script type="text/javascript" src="js/jquery/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="js/angular_app/lib/angular/angular.js"></script>
		<script type="text/javascript" src="js/angular_app/lib/angular/angular-resource.js"></script>	
		<script type="text/javascript" src="js/angular_app/lib/angular/angular-cookies.js"></script>	
		<script type="text/javascript" src="js/angular_app/app.js"></script>
		<script type="text/javascript" src="js/angular_app/directives.js"></script>
		<script type="text/javascript" src="js/angular_app/controllers.js"></script>
		<script type="text/javascript" src="js/angular_app/services.js"></script>

	</head>
	<body ng-controller="ForgotPasswordController" ng-init="init()" id="forgot_password">
		<div class="container_div">
			<div class="container_header">
				<span> Centurian Assessment Portal </span>
			</div>
			<div class="login_box">
				<div class="login_header">
					<span> Forgot Password </span>
				</div>
				<form>
					<p> 
						<label> Email Address: </label> <input type="text" name="email" ng-model="email" />
					</p>
					<br /> <br />
					<input type="button" class="login_button" name="submit" value="Submit" ng-click="forgot_password()" /> 
					<span class="error_msg">[[msg]]</span>
				</form>
			</div>
		</div>

	</body>
</html>