
<!DOCTYPE html>
<html ng-app="cap">
	<head>
		<title>Cap - Login </title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="font-awsome-4.1.0/css/font-awesome.css" />
		<script type="text/javascript" src="js/jquery/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="js/angular_app/lib/angular/angular.js"></script>
		<script type="text/javascript" src="js/angular_app/lib/angular/angular-resource.js"></script>
		<script type="text/javascript" src="js/angular_app/lib/angular/angular-cookies.js"></script>
		
		<script type="text/javascript" src="js/angular_app/app.js"></script>
		<script type="text/javascript" src="js/angular_app/directives.js"></script>
		<script type="text/javascript" src="js/angular_app/controllers.js"></script>
		<script type="text/javascript" src="js/angular_app/services.js"></script>

	</head>
	<body ng-controller="LoginController" ng-init="init()" id="login">
		<div class="container_div">
			<div class="container_header">
				<span> Centurian Assessment Portal </span>
			</div>
			<div class="login_box">
				<div class="login_header">
					<span> Login to Centurian Assessment Portal </span>
				</div>
				<form>
					<p> 
						<label> Email Address: </label> <input type="text" name="email" ng-model="email" />
					</p>
					<p> 
						<label> Password: </label> <input type="password" name="password" ng-model="password" />
					</p>
					<a href="forgot_password.html" class="forgot_pass_a"> Forgot Password </a>
					<span class="error_msg">[[msg]]</span>
					<input type="button" class="login_button" name="submit" value="Login" ng-click="submit_login()" /> <br /> <br />
					<a href="mailto:hafsalmetvr@gmail.com" class="contact_admin" > Contact Administrator </a>
				</form>
			</div>
		</div>
	</body>
</html>